<!DOCTYPE html>
<html ng-app="kcSdk.Tester">

<head>
    <meta charset="utf-8" />
    <title>kc sdk tester</title>
    <script src="angular.min.js"></script>
    <script src="requirenoop.js"></script>
    <script src="lodash.min.js"></script>
    <script type="text/javascript" src="sdk-tester.module.js"></script>
    <script type="text/javascript" src="sdk-tester.js"></script>
    <script type="text/javascript" src="sdk-string.service.js"></script>
    <script type="text/javascript" src="sdk-tester-signin.service.js"></script>
    <script type="text/javascript" src="sdk-show-last.directive.js"></script>

    <script type="text/javascript" src="kc-sdk-config.js"></script>
    <script type="text/javascript" src="kc-sdk-support.js"></script>
    <script type="text/javascript" src="kc-sdk.js"></script>

    <script type="text/javascript" src="theme-changer.js"></script>
    <link rel="stylesheet" type="text/css" href="tester.css" />
    <link rel="stylesheet" type="text/css" href="theme-changer.css" />
    <link rel="stylesheet" type="text/css" href="uitk-defaults.css" />
    <link href="bootstrap.min.css" rel="stylesheet" />

</head>
<body ng-controller="testerController as vm">
    <div class="col-md sdk-top-controls">
        <div class="sdk-version-info">
            <label class="sdk-version-label">sdk version:</label>
            <div class="sdk-version">{{vm.version}}</div><br />
        </div>

        <label class="tester-text">kc listening:</label>
        <div class="dot not-listening" ng-if="!vm.sdkKcIsListening"></div>
        <div class="dot listening" ng-if="vm.sdkKcIsListening"></div>
        <label class="tester-text">encoder listening:</label>
        <div class="dot not-listening" ng-if="!vm.sdkEncoderIsListening"></div>
        <div class="dot listening" ng-if="vm.sdkEncoderIsListening"></div><br />
        <label>Advanced Mode: <input type="checkbox" class="sdk-tester-checkbox" id="kc-sdk-advanced-mode" name="kc-sdk-advanced-mode" ng-change="vm.advancedModeOnChange()" ng-model="vm.sdkTesterSignInService.advancedMode"></label>

    </div>
    <div class="container" ng-class="vm.sdkTesterSignInService.advancedMode ? 'sdk-advanced-mode-container': 'sdk-simple-mode-container'">
        <div class="row">


        </div>
        <div class="row" ng-if="!vm.sdkTesterSignInService.advancedMode">
            <div class="col-md">
                <ng-include src="'sign-in.html'"></ng-include>
            </div>
        </div>


        <div class="row sdk-advanced-row" ng-if="vm.sdkTesterSignInService.advancedMode">
            <div class="col-md-3 sdk-tester-input-side">
                <input type="button" class="tester-clear-tester" value="Clear Tester" id="kc-sdk-clear-tester" ng-click="vm.clearInputOutput()" />
                <input type="button" class="tester-close-windows" ng-disabled="!vm.sdkKcIsListening && !vm.sdkEncoderIsListening" value="Close All KC Windows" id="kc-sdk-close-windows" ng-click="vm.closeAllKCWindows()" /> <br />
                <H2 class="tester-text">Select API:</H2>

                <label class="workflow-window-select-label">
                    <input class="workflow-window-select-radio" type="radio" ng-change="vm.workflowWindowChanged(vm.kcWindowName)" ng-model="vm.workflowWindow" ng-value="vm.kcWindowName">KC
                </label>
                <label class="workflow-window-select-label">
                    <input class="workflow-window-select-radio" type="radio" ng-change="vm.workflowWindowChanged(vm.encoderWindowName)" ng-model="vm.workflowWindow" ng-value="vm.encoderWindowName">ENCODER
                </label><br />
                <select id="kc-workflow-available-apis" class="tester-workflow-available-api" ng-model="vm.availableApiSelected" ng-options="api.name for api in vm.availableApis" ng-change="vm.onSelectedNewWorkflowApiChange()"></select>
                <br />

                <select id="kc-workflow" class="tester-workflow-dropdown" size="10" ng-model="vm.selectedWorkflowApi" ng-options="wf.name for wf in vm.workflow" ng-click="vm.onSelectedWorkflowApiChange()" ng-change="vm.onSelectedWorkflowApiChange()">
                </select>

                <div class="sdk-workflow-api-buttons">
                    <input type="button" value="Add API" id="kc-sdk-add-api" ng-click="vm.addApi()" />
                    <input type="button" ng-disabled="!vm.selectedWorkflowApi" value="Update API" id="kc-sdk-update-api" ng-click="vm.updateApi()" />
                    <input type="button" ng-disabled="!vm.selectedWorkflowApi" value="Remove API" id="kc-sdk-remove-api" ng-click="vm.removeApi()" /> <br /> <br /> <br />

                    <H2 class="tester-text">Workflow:</H2>
                    <input type="button" class="tester-run-workflow" ng-disabled="vm.workflow.length === 0" value="Run" id="kc-sdk-run-workflow" ng-click="vm.runWorkflow(vm.workflowWindow)" />
                    <input type="button" class="tester-clear-workflow" ng-disabled="vm.workflow.length === 0" value="Clear" id="kc-sdk-clear-workflow" ng-click="vm.clearWorkflow()" />
                    <input type="button" class="tester-export-workflow" value="Export" id="kc-sdk-export-workflow" ng-click="vm.exportWorkflow()" />
                    <input type="button" class="tester-import-workflow" value="Import" id="kc-sdk-import-workflow" ng-click="vm.importWorkflow()" />

                </div>
                <br />
                <br />
                <ng-include id="sdk-advanced-login" src="'sign-in.html'"></ng-include>
            </div>
            <div class="col-md-4 sdk-tester-left-side">

                <div class="sdk-tester-input-area">


                    <textarea name="workflowInput" id="kc-sdk-workflow-input" placeholder="Workflow input" spellcheck="false" ng-model="vm.workflowInput" class="tester-text-area-advanced ng-pristine ng-valid ng-touched"> </textarea><br />

                </div>
            </div>
            <div class="col-md-5 sdk-tester-right-side">
                <div class="sdk-tester-output-area">
                    <input type="button" class="tester-clear-output-tester" value="Clear Output" id="kc-sdk-clear-tester" ng-click="vm.clearOutput()" />

                    <textarea placeholder="Output" name="outputJson" id="kc-sdk-input" spellcheck="false" sdk-show-last ng-model="vm.outputJson" class="tester-text-area-advanced ng-pristine ng-valid ng-touched"> </textarea><br />

                </div>

            </div>

        </div>

    </div>

    </div>
     <label id="switch" class="switch">
        <input type="checkbox" onchange="toggleTheme()" id="slider">
        <span class="slider round"></span>
    </label>
        
   
</body>
</html>