<div style="margin:0 auto;" class="sdk-sign-in-container">
    <form name="vm.sdkTesterSignInService.signInForm"
            method="post"
            novalidate
            ng-submit="vm.doSigninSubmit()">
        <div class="tk-margin-left-2t">
            <table class="tk-tabl-form-sip kc-sdk-tester-sign-in-table" role="presentation">
                <tbody>

                    <tr>
                        <td class="sign-in-left-side">
                            <table class="sdk-login-table">
                                <tr>
                                    <td colspan="3">
                                        <h2 tabindex="-1">{{vm.sdkTesterSignInService.signInHeaderText}}</h2>
                                        <div class="icon-exclamationbox"
                                             ng-if="vm.sdkTesterSignInService.clientError.visible">{{vm.sdkTesterSignInService.clientError.content}}</div>
                                        <div class="icon-exclamationbox"
                                             ng-if="vm.sdkTesterSignInService.serverError.visible">{{vm.sdkTesterSignInService.serverError.content}}</div>
                                    </td>
                                </tr>

                                <tr ng-init="userNameError=false">
                                    <td>
                                        <label tabindex="-1"
                                               for="kc-userNameInput"
                                               id="kc-userNameLblId" class="kc-label-padding">User name</label>
                                    </td>

                                    <td class="tk-rfrm-group"
                                        ng-class="{'tk-rfrm-has-error':userNameError ||
                                            (vm.sdkTesterSignInService.signInForm.username.$invalid &&
                                                vm.sdkTesterSignInService.signInForm.submitted)}">

                                        <div>
                                            <div class="tk-rfrm-columnar-container">
                                                <div class="tk-rfrm-error-container">
                                                    <input class="tk-margin-left-min"
                                                           type="text"
                                                           spellcheck="false"
                                                           id="kc-userNameInput"
                                                           name="username"
                                                           ng-disabled="vm.sdkTesterSignInService.busy || vm.sdkTesterSignInService.userNameDisabled"
                                                           ng-model="vm.sdkTesterSignInService.clientInfo.name"
                                                           kc:focus-on-me="true"
                                                           autocomplete="off"
                                                           aria-required="true"
                                                           aria-autocomplete="none"
                                                           aria-describedby="signInField_inputTip UserName_errormessage"
                                                           ng-class="{'tk-form-field-error':userNameError ||
                                                                (vm.sdkTesterSignInService.signInForm.submitted &&
                                                                vm.sdkTesterSignInService.signInForm.username.$invalid),
                                                                '':vm.sdkTesterSignInService.signInForm.username.$valid}"
                                                           ng-keyup="userNameError=
                                                                (vm.sdkTesterSignInService.signInForm.username.$dirty &&
                                                                vm.sdkTesterSignInService.signInForm.username.$invalid)
                                                                ? true : false"
                                                           ng-blur="vm
                                                                .signInForm.username
                                                                .$dirty=true;
                                                            userNameError=vm
                                                                .signInForm.username
                                                                .$invalid ? true : false;"
                                                           ng-required="true" />
                                                    <div class="small-dot kc-sdk-signin-required"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-class="{'tk-rfrm-has-error':userNameError ||
                                            (vm.sdkTesterSignInService.signInForm
                                                .username
                                                .$invalid &&
                                                vm
                                                .signInForm
                                                .submitted)}">
                                        <div>
                                            <div class="tk-rfrm-columnar-container">
                                                <div class="tk-rfrm-error-container">
                                                    <span id="kc-userName_errormessage"
                                                          class="tk-padding-left-1t"
                                                          aria-required="true"
                                                          aria-invalid="true"
                                                          aria-describedby="User name is required"
                                                          ng-if="(vm.sdkTesterSignInService.signInForm.username.$dirty ||
                                                            vm.sdkTesterSignInService.signInForm.submitted) &&
                                                            vm.sdkTesterSignInService.signInForm.username.$invalid &&
                                                            vm.sdkTesterSignInService.signInForm.username.$error.required">
                                                        User name is required.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr ng-init="orgError=false">
                                    <td>
                                        <label tabindex="-1"
                                               for="kc-orgId"
                                               id="kc-orgLblId" class="kc-label-padding">Organization</label>
                                    </td>

                                    <td class="tk-rfrm-group" ng-class="{'tk-rfrm-has-error':orgError ||
                                            (vm.sdkTesterSignInService.signInForm.organization.$invalid &&
                                                vm.sdkTesterSignInService.signInForm.submitted)}">
                                        <div class="tk-rfrm-columnar-container">
                                            <div class="tk-rfrm-error-container">
                                                <input class="tk-margin-left-min"
                                                       type="text"
                                                       id="kc-orgId"
                                                       name="organization"
                                                       ng-disabled="vm.sdkTesterSignInService.busy"
                                                       ng-model="vm.sdkTesterSignInService.organization"
                                                       autocomplete="off"
                                                       aria-required="true"
                                                       aria-autocomplete="none"
                                                       aria-describedby="signInField_inputTip Org_errormessage"
                                                       ng-class="{'tk-form-field-error':orgError ||
                                                            (vm.sdkTesterSignInService.signInForm.submitted &&
                                                            vm.sdkTesterSignInService.signInForm.organization.$invalid),
                                                            '':vm.sdkTesterSignInService.signInForm.organization.$valid}"
                                                       ng-keyup="orgError=(vm.sdkTesterSignInService.signInForm.organization.$dirty &&
                                                                    vm.sdkTesterSignInService.signInForm.organization.$invalid)
                                                                    ? true : false"
                                                       ng-blur="vm
                                                            .signInForm
                                                            .organization.$dirty=true;
                                                        orgError=vm
                                                            .signInForm
                                                            .organization
                                                            .$invalid ? true : false;"
                                                       ng-required="true" />
                                                <div class="small-dot kc-sdk-signin-required"></div>

                                            </div>
                                        </div>
                                    </td>
                                    <td ng-class="{'tk-rfrm-has-error':orgError ||
                                            (vm.sdkTesterSignInService.signInForm.Organization.$invalid &&
                                                vm.sdkTesterSignInService.signInForm.submitted)}">
                                        <div>
                                            <div class="tk-rfrm-columnar-container">
                                                <div class="tk-rfrm-error-container">
                                                    <span id="kc-Org_errormessage"
                                                          class="tk-padding-left-1t"
                                                          aria-describedby="Organization is required"
                                                          aria-required="true"
                                                          aria-invalid="true"
                                                          ng-if="(vm.sdkTesterSignInService.signInForm.organization.$dirty ||
                                                            vm.sdkTesterSignInService.signInForm.submitted) &&
                                                            vm.sdkTesterSignInService.signInForm.organization.$invalid &&
                                                            vm.sdkTesterSignInService.signInForm.organization.$error.required">
                                                        Organization is required.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="tester-sign-in-button-space">
                                        <button ng-if="!vm.sdkTesterSignInService.advancedMode" type="button"
                                                name="sdk-launch-kc-button"
                                                id="sdk-launch-kc-button"
                                                value="Launch KC"
                                                ng-disabled="vm.sdkTesterSignInService.busy"
                                                class="kc-tk-btn kc-tk-btn-primary tk-margin-left-min tk-margin-top-none tk-margin-bottom-none"
                                                ng-click="vm.launchKc()">
                                            Launch KC
                                        </button>
                                        <button name="generate_token"
                                                id="kc-generate_tokenBtnId"
                                                value="Generate_Token"
                                                enable-default="true"
                                                ng-disabled="vm.sdkTesterSignInService.busy"
                                                class="kc-tk-btn kc-tk-btn-primary tk-margin-left-min tk-margin-top-none tk-margin-bottom-none">
                                            {{vm.sdkTesterSignInService.signInButtonText}}
                                        </button>
                                        <button ng-if="!vm.sdkTesterSignInService.advancedMode" type="button"
                                                name="sdk-launch-references-button"
                                                id="sdk-launch-references-button"
                                                value="Launch References"
                                                ng-disabled="vm.sdkTesterSignInService.busy"
                                                class="kc-tk-btn kc-tk-btn-primary tk-margin-left-min tk-margin-top-none tk-margin-bottom-none"
                                                ng-click="vm.launchReferences()">
                                            Launch References
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="sdk-login-table-inputs">
                                <tr ng-if="!vm.sdkTesterSignInService.advancedMode">
                                    <td colspan="3">
                                        <label class="kc-encoder-phrasecode-text">PhraseCode:</label>
                                        <input class="kc-encoder-phrasecode-input" ng-model="vm.encoderPhraseCode" type="text" id="kc-encoder-phrasecode" />
                                    </td>
                                </tr>
                                <tr ng-if="!vm.sdkTesterSignInService.advancedMode">
                                    <td colspan="3" class="col-md kc-simple-mode-inputs">
                                        <label class="kc-encoder-tab-text">Encoder Tab:</label>
                                        <select id="kc-encoder-tab-dropdown" class="tester-encoder-tab" ng-model="vm.selectedEncoderTab" ng-options="et for et in vm.encoderTabs">
                                        </select>
                                    </td>
                                </tr>

                                <tr ng-if="!vm.sdkTesterSignInService.advancedMode">
                                    <td colspan="3" class="col-md kc-simple-mode-inputs">
                                        <label class="kc-state-text">State:</label>
                                        <select id="kc-state-dropdown" class="tester-state" ng-model="vm.selectedI9I10State" ng-change="vm.onStateChange()" ng-options="ct.value for ct in vm.i9I10States">
                                        </select>
                                    </td>

                                </tr>
                                <tr ng-if="!vm.sdkTesterSignInService.advancedMode">
                                    <td colspan="3" class="col-md kc-simple-mode-inputs">
                                        <label class="kc-session-type-text">SessionType:</label>
                                        <select id="kc-session-type-dropdown" class="tester-session-type" ng-model="vm.selectedSessionType" ng-options="st.name for st in vm.sessionTypes">
                                        </select>
                                    </td>
                                </tr>
                                <tr ng-if="!vm.sdkTesterSignInService.advancedMode">
                                    <td colspan="3" class="col-md kc-simple-mode-inputs">
                                        <label class="kc-patient-type-text">Patient Type:</label>
                                        <select id="kc-patient-type-dropdown" class="patient-type" ng-model="vm.selectedPatientType" ng-change="vm.onPatientTypeChange()" ng-options="pt.displayValue for pt in vm.patientTypes">
                                        </select>
                                    </td>
                                </tr>

                                <tr ng-if="!vm.sdkTesterSignInService.advancedMode">
                                    <td colspan="3">
                                        <label>Demographics:</label>
                                        <textarea name="workflowInput" id="kc-sdk-sign-in-demographics-input" placeholder="Demographics input" spellcheck="false" ng-model="vm.encoderDemographics" class="tester-text-area ng-pristine ng-valid ng-touched"> </textarea>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </form>
</div>
