@mixin fadeAnimation {
  @keyframes fade {

    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  animation: fade 0.4s ease 0s 1 normal;
}

@mixin heightAnimation($initialMaxHeight, $slideMaxHeight) {
  @keyframes height-slide-#{$initialMaxHeight} {

    from {
      max-height: $initialMaxHeight * 1px;
    }

    to {
      max-height: $slideMaxHeight * 1px;
    }
  }
  animation: height-slide-#{$initialMaxHeight} 0.8s ease 0s 1 normal;
  animation-fill-mode: forwards;
}